Gross Domestic Product (Quarterly)<br>
Unemployment Rate (Monthly)<br>
Consumer Price Index (Monthly)<br>
Federal Funds Rate (Daily)<br>
Stock Market Performance<br>
Consumer Confidence<br>

In [31]:
import pandas as pd
import numpy as np
import datetime
from Modules import c_bls_data
import os

Get API Key

In [2]:
df = pd.read_csv("FILE WITH API KEY")
df = df[df['Site']=='BLS']
APIkey = df._get_value(1,'Key')

In [3]:
# Parameters
CPIPath = 'FILE PATH'
UnemploymentPath = 'FILE PATH'
StartYear = 2010
EndYear = 2023

#- Serial IDs
Unemployment = 'LNS14000000' # Unemployment unadjusted, all occupations, races, sexes
CPI = 'CUSR0000SA0' # All items in U.S. city average, all urban consumers, seasonally adjusted

In [4]:
c_bls_data.c_bls_data(APIkey, CPIPath, [CPI], StartYear, EndYear)
c_bls_data.c_bls_data(APIkey, UnemploymentPath, [Unemployment], StartYear, EndYear)

In [6]:
unemployment = pd.read_csv('FILE PATH WRITTEN TO')
unemployment.head()

     Series ID              Month  Value  Annual Percent Change
0  LNS14000000   December 1, 2022    3.5                  -10.3
1  LNS14000000   November 1, 2022    3.6                  -14.3
2  LNS14000000    October 1, 2022    3.7                  -17.8
3  LNS14000000  September 1, 2022    3.5                  -27.1
4  LNS14000000     August 1, 2022    3.7                  -28.8

In [7]:
unemployment.rename(columns={'Value': 'Unemployment_Rate', 'Annual Percent Change': 'Unemployment_12mo_%Change'}, inplace=True)

In [8]:
cpi = pd.read_csv('FILE PATH WRITTEN TO')
cpi.head()

     Series ID              Month    Value  Annual Percent Change
0  CUSR0000SA0   November 1, 2022  298.349                    7.1
1  CUSR0000SA0    October 1, 2022  298.062                    7.8
2  CUSR0000SA0  September 1, 2022  296.761                    8.2
3  CUSR0000SA0     August 1, 2022  295.620                    8.2
4  CUSR0000SA0       July 1, 2022  295.271                    8.5

In [9]:
cpi.rename(columns={'Value': 'CPI', 'Annual Percent Change': 'CPI_12mo_%Change'}, inplace=True)

In [10]:
unemployment['Month_Year'] = pd.to_datetime(unemployment['Month']).dt.to_period('M')
cpi['Month_Year'] = pd.to_datetime(cpi['Month']).dt.to_period('M')

In [12]:
unemployment.drop(['Series ID', 'Month'], axis= 1, inplace= True)

In [15]:
cols = list(unemployment.columns.values) #Make a list of all of the columns in the df
cols.pop(cols.index('Month_Year')) 
cols.pop(cols.index('Unemployment_Rate'))
cols.pop(cols.index('Unemployment_12mo_%Change')) 
unemployment = unemployment[cols+['Month_Year','Unemployment_Rate', 'Unemployment_12mo_%Change']]

In [20]:
unemployment = unemployment.sort_values(by='Month_Year')

In [21]:
unemployment.head()

    Month_Year  Unemployment_Rate  Unemployment_12mo_%Change
155    2010-01                9.8                       25.6
154    2010-02                9.8                       18.1
153    2010-03                9.9                       13.8
152    2010-04                9.9                       10.0
151    2010-05                9.6                        2.1

In [23]:
cpi.drop(['Series ID', 'Month'], axis= 1, inplace= True)

In [25]:
cols = list(cpi.columns.values) #Make a list of all of the columns in the df
cols.pop(cols.index('Month_Year')) 
cols.pop(cols.index('CPI'))
cols.pop(cols.index('CPI_12mo_%Change')) 
cpi = cpi[cols+['Month_Year','CPI', 'CPI_12mo_%Change']]

In [27]:
cpi = cpi.sort_values(by='Month_Year')

In [28]:
cpi.head()

    Month_Year      CPI  CPI_12mo_%Change
154    2010-01  217.488               2.6
153    2010-02  217.281               2.2
152    2010-03  217.353               2.3
151    2010-04  217.403               2.2
150    2010-05  217.290               2.0

In [29]:
excelfilename = 'Unemployment.xlsx'
exportpath = 'NEW FILE PATH'
unemployment.to_excel(exportpath+excelfilename)

In [30]:
excelfilename = 'CPI.xlsx'
exportpath = 'NEW FILE PATH'
cpi.to_excel(exportpath+excelfilename)

In [32]:
os.remove("OLD FILE PATH")
os.remove("OLD FILE PATH")